.srijarko-centerheader
{
    text-align: center;
    background-color: rgb(41, 41, 77);
}
.srijarko-profpic{
  border-radius:50%;  
}
.carousel-item {
 height: 500px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item1 {
  background-color:rgb(171, 243, 171); 
  height: 300px;
  padding-top: 120px;
}

.item2{
  background-color: pink;
  height: 300px;
  
}

.item3{
  background-color:skyblue;
  height: 300px;
  
}

.blog {
    color:rgb(10, 126, 126);
}

.ml {
   color: deeppink;
}

.potter {
    color: darkblue;
}

.cards{
    
    margin-top: 20px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card1{
    
    min-height: 140px;
    width: 30%;

}

.card2{
  
    min-height: 140px;
    width: 30%;
}

.card3{
    
    min-height: 140px;
    width: 30%;
}

.cards2{
    
    margin-top: 20px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card21{
    
    min-height: 140px;
    width: 30%;

}

.card22{
  
    min-height: 140px;
    width: 30%;
}

.card23{
    
    min-height: 140px;
    width: 30%;
}

.cards3{
    
    margin-top: 20px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card31{
    
    min-height: 140px;
    width: 30%;

}

.card32{
  
    min-height: 140px;
    width: 30%;
}

.card33{
    
    min-height: 140px;
    width: 30%;
}

.cards4{
    
    margin-top: 1px;
    margin-bottom: 46px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card41{
    
    min-height: 140px;
    width: 45%;

}

.card42{
  
    min-height: 140px;
    width: 45%;
}

.card43{
    
    min-height: 140px;
    width: 0%;
}

.cards5{
    
    margin-top: 5px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card51{
    
    min-height: 140px;
    width: 10%;

}

.card52{
  
    min-height: 140px;
    width: 70%;
}

.card53{
    
    min-height: 140px;
    width: 20%;
}

.cards6{
    
    margin-top: 20px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card61{
    
    min-height: 140px;
    width: 5%;

}

.card62{
  
    min-height: 140px;
    width: 90%;
}

.card63{
    
    min-height: 140px;
    width: 5%;
}

.cards8{
    
    margin-top: 20px;
    min-height: 140px;
    display: flex;
    justify-content: space-between;
}

.card81{
    
    min-height: 140px;
    width: 5%;

}

.card82{
  
    min-height: 140px;
    width: 90%;
}

.card83{
    
    min-height: 140px;
    width: 5%;
}

.cards7{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-height: 100px;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
}

.card71{
    
    min-height: 140px;
    width: 20%;

}

.card72{
  
    min-height: 140px;
    width: 20%;
}

.card73{
    
    min-height: 140px;
    width: 20%;
}

.card74{
    
    min-height: 140px;
    width: 20%;
}

@media only screen and (max-width: 400px) {
    
.cards7 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    max-height: 90px;
    display: flex;
    
    justify-content: space-between;
    }

.card71{
    
    min-height: 90px;
    width: 20%;

}

.card72{
  
    min-height: 90px;
    width: 20%;
}

.card73{
    
    min-height: 90px;
    width: 20%;
}

.card74{
    
    min-height: 90px;
    width: 20%;
}

.edu{
  text-align: center;
  padding-top: 81px;
}

.buttons{
  background-color:rgba(20, 148, 148, 0.973);
  border: yellow;
  border-radius: 15px;
  border-width: 15px;
  color:yellow;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 70px;
  cursor: pointer;
}

.timeline-container {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    padding: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    display: flex;
    align-items: left;
    font-size: 20px;
    margin: 0 0 10px;
}

.section h2 img {
    height: 24px;
    margin-right: 10px;
}

.timeline {
    position: relative;
    padding-left: 30px;
    border-left: 2px solid #ddd;
    align-items: start;
}

.timeline .entry {
    position: relative;
    margin-bottom: 20px;
}

.timeline .entry:last-child {
    margin-bottom: 0;
}

.timeline .entry::before {
    content: "";
    position: absolute;
    left: -6px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: #0073e6;
    align-items: start;
    border-radius: 50%;
}

.timeline .entry .title {
    font-weight: bold;
    align-items: start;
}

.timeline .entry .details {
    font-size: 14px;
    color: #555;
    align-items: start;
}}

